<div class="container-fluid">
    <div id="main">
        <header>
            <nav class="navbar navbar-default header panel-grey">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a class="title">Employees</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="user" role="button" ng-click="openModal('edit', user._id)"><img src="img/profile.png" alt="..." class="img-circle">
                                    <strong ng-bind="getCurrentUser().firstName + ' ' + getCurrentUser().lastName"></strong></a>
                            </li>
                            <li>
                                <a role="button" ng-click="logOut()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="panel panel-default panel-total">
            <!-- Default panel contents -->
            <div class="panel-heading panel-header-table panel-grey">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-change="search(searchValue)" ng-model-options="{ debounce: 1000 }" ng-model="searchValue" placeholder="Search by name">
                        </div>
                    </div>
                    <button ng-show="isAdmin()" type="button" ng-click="openModal('add')" class="btn btn-primary title-right">Add new Employee</button>
                </form>
            </div>
            <div class="panel-body">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td role="button" ng-click="sortBy('firstName')">First name <i class="fa {{ page.arrow.firstName ||'fa-sort' }} font-black pull-right"></i></td>
                            <td role="button" ng-click="sortBy('secondName')">Second name <i class="fa {{ page.arrow.secondName ||'fa-sort' }} font-black pull-right"></i></td>
                            <td role="button" ng-click="sortBy('email')">E-mail <i class="fa {{ page.arrow.email ||'fa-sort' }} font-black pull-right"></i></td>
                            <td>Position</td>
                            <td>Phone number</td>
                            <td>B-Day</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="contact in page.data">
                            <td class="font-gray">{{contact.firstName}}</td>
                            <td class="font-gray">{{contact.secondName}}</td>
                            <td class="font-gray">{{contact.email}}</td>
                            <td class="font-gray">{{contact.position}}</td>
                            <td class="font-gray members">{{contact.phoneNumber}}</td>
                            <td class="font-gray">{{contact.birthday | date:'dd.MM.yyyy'}}</td>
                            <td>
                                <button class="btn user" ng-click="openModal('info', contact._id)"><i class="fa fa-user"></i></button>
                                <button class="btn edit" ng-show="isAdmin()" ng-click="openModal('edit', contact._id)"><i class="fa fa-pencil-square-o"></i></button>
                                <button class="btn delete" ng-show="isAdmin()" ng-click="delete(contact)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <span ng-show="page.data.length==0">
                        NO CONTACTS FOUND
                    </span>
                    <br>
                    <div class="pagination-sales-wrapp" ng-if="page.total">
                        <span class="pagination-text font-gray" ng-show="page.current == 1">
                            Showing 1 to {{page.total > page.limit ? page.limit : page.total}} of {{page.total}} entries
                        </span>
                        <span class="pagination-text font-gray" ng-show="page.current != 1 && (1 + page.current * page.limit) < page.total && page.total != 1">
                        Showing {{1 + (page.current - 1) * page.limit}} to {{page.current * page.limit}} of {{page.total}} entries
                        </span>
                        <span class="pagination-text font-gray" ng-show="page.current != 1 && (1 + page.current * page.limit) > page.total && page.total != 1">
                        Showing {{1 + (page.current - 1) * page.limit}} to {{page.total}} of {{page.total}} entries
                        </span>
                        <ul uib-pagination total-items="page.total" ng-model="page.current" ng-change="pageChanged()" items-per-page="page.limit" class="pagination-sm pull-right"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
