<div class="container-fluid main-page">
    <div class="panel panel-default panel-total">

        <div class = "title">
            <h1>TEST</h1>
        </div>

        <uib-tabset active="active">
            <uib-tab index="0" heading="LOGIN">
                <form class="form-inline" name="loginForm" ng-submit="login(user)">
                    {{errors}}
                    <div class="form-group">
                        <label class="sr-only" for="loginEmail">Email address</label>
                        <input type="email" class="form-control" ng-model="user.email" name="email" id="loginEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="loginPassword">Password</label>
                        <input type="password" class="form-control" ng-model="user.password" name="password" id="loginPassword" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                </form>
            </uib-tab>
            <uib-tab index="1" heading="REGISTRATION">
                <form class="form-inline" name="registerForm" ng-submit="register(user)">
                    {{errors}}
                    <div class="form-group">
                        <label class="sr-only" for="loginEmail">Email address</label>
                        <input type="email" class="form-control" ng-model="user.email" name="email" id="registerEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="loginPassword">Password</label>
                        <input type="password" class="form-control" ng-model="user.password" name="password" id="registerPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control" ng-model="user.firstName" name="name" id="name" placeholder="Name">
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </uib-tab>

        </uib-tabset>

    </div>
</div>
