.header {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-collapse {
    padding-right: 30px;
  }
  .title {
    font-size: 18px;
    font-weight: 700;
  }
  i.bars {
    font-size: 14px;
  }
  i.envelope {
    font-size: 16px;
  }
  .sidebar-title {
    font-size: 20px;
  }
  img {
    max-height: 20px;
  }
}