body {
  background-color: $background;
  font-family: 'Roboto', serif;
}

.container-fluid {
  padding: 0;
}

.sidenav {
  .panel {
    border: 0;
    border-radius: 0;
    .panel-heading {
      font-size: 20px;
      border: 0;
      color: $mainWhite;
      font-weight: 900;
    }
  }
}

.panel-total {
  margin: 20px;
  border: 0;
  border-radius: 5px;
  .panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
    text-transform: uppercase;
    .panel-title {
      display: inline;
      padding: 10px 0;
      color: $mainWhite;
      font-weight: 700;
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
      p {
        display: inline;
      }
    }
    .title-left {
      @media (min-width: 768px) {
        float: left;
      }
    }
    .title-right {
      @media (min-width: 768px) {
        float: right;
      }
    }
    form {
      .form-group {
        .input-group {
          width: 100%;
          .input-group-addon {
            background: $mainWhite;
            border: 0;
            color: $mainGray;
            font-weight: 900;
            font-size: 20px;
            padding: 0 3px;
          }
        }
      }
      button {
        text-transform: uppercase;
        font-weight: 900;
        color: $mainGray;
        &:hover {
          background-color: $mainBeige;
        }
      }
    }
  }
  .panel-header-table {
    @media (max-width: 425px) {
      button {
        width: 100%;
      }
    }
  }
  .panel-body {
    background: $mainWhite;
    padding: 0;
    .col-5 {
      padding: 20px;
      width: 20%;
      float: left;
      text-align: center;
      border-right: solid 1px $moreLightGray;
      &:last-child {
        border-right: none;
      }
      p {
        font-size: 18px;
        margin: 0;
        font-weight: 900;
      }
      @media (max-width: 425px) {
        width: 50%;
        border: 0;
        &:last-child {
          width: 100%;
        }
      }
    }
    .table-responsive {
      .table {
        margin-bottom: 0;
        thead {
          background-color: $mainWhite;
          font-weight: 900;
          i {
            font-size: 18px;
          }
        }
        tbody {
          td {
            background-color: $mainWhite;
            padding: 15px 5px 15px 15px;
            .project {
              font-weight: 700;
            }
            .members {
              width: 30%;
            }
            .badge {
              padding: 3px 12px;
              background-color: $mainGray;
            }
            button {
              padding: 0 3px;
              margin: 0 2px;
              color: $mainWhite;
              &.user {
                background-color: $mainFadeBlue;
                &:hover {
                  background-color: $mainBlue;
                }
              }
              &.edit {
                background-color: $mainFadeYellow;
                &:hover {
                  background-color: $mainYellow;
                }
              }
              &.delete {
                background-color: $mainFadeRed;
                &:hover {
                  background-color: $mainRed;
                }
              }
            }
          }
        }
      }
    }
  }
}