.panel-grey {
  background: linear-gradient(to right, $mainGray, $lightGray);
}
.pagination-sm {
  margin: 0;
  li {
    a {
      color: $mainFadeGray;
    }
    &:hover {
      a {
        color: $lightGray;
      }
    }
    &.active {
      a {
        color: $mainWhite;
        background-color: $mainFadeGray;
        border-color: $mainFadeGray;
      }
      &:hover {
        a {
          background-color: $mainGray;
          border-color: $mainGray;
        }
      }
    }
  }
}

.main-page {
  form {
    margin-top: 20px;
  }
}

a.user:hover:after{
  content: 'EDIT';
  color: $mainWhite;
}
a.user:hover strong{
  display: none;
}
