$mainBlue: #0087ff;
$mainGray: #364252;
$mainRed: #bb0007;
$mainYellow: #e6cd00;
$mainFadeYellow: #8e8960;
$mainFadeBlue: #74a2b9;
$mainFadeGray: #666;
$mainFadeRed: #9e6a6c;
$mainGreen: #85bb49;
$mainBeige: #a68d6d;
$background: #ffffff;
$mainWhite: #ffffff;
$lightGray: #475061;
$moreLightGray: #e0e0e0;
$tableBlue: #ecf2f5;
$fontGray: #95a0b1;

$colors: 		(
        "blue": 				$mainBlue,
        "red": 				    $mainRed,
        "beige": 				$mainBeige,
        "green": 				$mainGreen,
        "gray": 				$fontGray,
        "yellow": 				$mainGreen,
        "fade-gray": 		    $mainFadeGray,
        "fade-blue": 			$mainFadeBlue,
        "fade-red": 			$mainFadeRed,
        "fade-yellow": 			$mainFadeYellow,
);

@each $key, $value in $colors {
  .font-#{$key} {
    color: $value;
  }
}

/* Bootstrap variables */
$navbar-default-link-color: $mainWhite;
$navbar-default-color: $mainWhite;

$panel-border-radius: 0;

$btn-primary-bg: $mainWhite;
$btn-border-radius-base: 2px;
$input-border-radius: 2px;