<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Change password</h4>
    </div>
    <form name="changePasswordForm" class="form-horizontal" ng-submit="save(password, newPassword, confirmPassword)">
        <div class="modal-body">
            {{errors}}
            <div class="form-group">
                <label class="col-md-3">Type old password</label>
                <div class="col-md-6">
                    <input type="password" name="password" class="form-control" ng-model="password" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Type new password</label>
                <div class="col-md-6">
                    <input type="password" name="newPassword" class="form-control" ng-model="newPassword" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Confirm new password</label>
                <div class="col-md-6">
                    <input type="password" name="newPassword2" class="form-control" ng-model="confirmPassword" ng-pattern='/^[а-яА-ЯёЁa-zA-Z0-9]{4,}$/' required="required">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" ng-disabled="changePasswordForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>