<div class="modal-content">
    <div class="modal-header">
        <b class="modal-title text-uppercase">{{ method }}</b>
    </div>
    <form name="userForm" class="form-horizontal" ng-submit="submit(user)">
        <div class="modal-body">
            {{errors}}
            <div class="form-group">
                <label class="col-md-3">Email <span class="required">*</span></label>
                <div class="col-md-6">
                    <input type="email" name="email" class="form-control" ng-model="user.email" required="required" ng-disabled="disabled">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">First Name <span class="required">*</span></label>
                <div class="col-md-6">
                    <input type="text" name="firstName" class="form-control" ng-model="user.firstName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' required="required" ng-disabled="disabled">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Last Name</label>
                <div class="col-md-6">
                    <input type="text" name="secondName" class="form-control" ng-model="user.secondName" ng-pattern='/^[а-яА-ЯёЁa-zA-Z]{1,20}$/' ng-disabled="disabled">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Position</label>
                <div class="col-md-6">
                    <select type="text" name="position" class="form-control" ng-model="user.position" ng-disabled="disabled">
                        <option>Programmer</option>
                        <option>Analyst</option>
                        <option>Enginer</option>
                        <option>Architect</option>
                    </select>
                </div>
            </div>
            <div ng-show="isAdmin() || yourAcc" class="form-group">
                <label class="col-md-3">Salary</label>
                <div class="col-md-6">
                    <input type="number" name="salary" class="form-control" ng-model="user.salary" ng-disabled="disabled || !isAdmin()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Phone Number</label>
                <div class="col-md-6">
                    <input type="tel" name="phoneNumber" class="form-control" ng-model="user.phoneNumber" ng-disabled="disabled">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">B-Day</label>
                <div class="col-md-6">
                    <input type="date" name="birthday" class="form-control" ng-model="user.birthday" title="Формат ввода 11.11.1900" ng-disabled="disabled">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-show="method=='edit' && yourAcc" ng-click="changePassword(user)">Change password</button>
            <button type="submit" class="btn btn-default" ng-hide="method=='info'" ng-disabled="userForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>